<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="sim_isaac" default="false"/>
  <xacro:arg name="use_fake_hardware" default="true"/>

  <xacro:macro name="robotiq_gripper_ros2_control" params="
      name
      prefix
      sim_ignition:=false
      sim_isaac:=$(arg sim_isaac)
      isaac_joint_commands:=/isaac_joint_commands
      isaac_joint_states:=/isaac_joint_states
      use_fake_hardware:=$(arg use_fake_hardware)
      mock_sensor_commands:=false
      com_port:=/dev/ttyUSB0
      gripper_speed_multiplier:=1.0
      gripper_force_multiplier:=0.5
      gripper_max_speed:=0.250
      gripper_max_force:=125.0
      gripper_closed_position:=0.695">

    
    
  </xacro:macro>

</robot>
